@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="https://qr.dingtalk.com/page/yunpan?route=previewDentry&spaceId=27682293946&fileId=204859686771&type=file" target="_blank" rel="noopener noreferrer"></a>